@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Roboto:wght@300&family=Roboto:wght@700&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body {
    /* height: 100vh; */
    box-sizing: border-box;
    background-color: #000000;
    color: #F6F6F6;
}

.header {
    padding: 2% 0 0 15%;
}

.header__menu {
    display: flex;
    gap: 80px;
}
.header__menu__link {
    font-family: 'Inter', sans-serif; 
    font-size: 24px;
    font-weight: 600;
    color:#22D4FD;
    text-decoration: none;
}
.apresentacao {
    margin: 5% 15%;
    display: flex;
    align-items: center;
    gap: 4%;
}

.apresentacao__conteudo {
    width: 593px;
    /* height: 352px;        */

}

.apresentacao__conteudo__titulo {
    font-size: 36px;
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
}

.apresentacao__conteudo__texto {
    font-size: 20px;
    font-family: 'Inter', sans-serif;
}

.apresentacao__containerlink {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400px;
}

.apresentacao__containerlink_botao {
    width: 280px;
    padding: 21.5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    border: 2px solid #22D4FD;
    border-radius: 8px;
    color: #F6F6F6;
    font-size: 24px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
    /* box-shadow: 8px -10px 2px teal; */
}

.apresentacao__containerlink_botao:hover {
    background-color: #272727;
}

h1 strong {
    color: #22D4FD;
}

.texto-programa {
    color: #5bd3ff;

}

.footer {
    background-color: #22D4FD;
    text-align: center;
    padding: 24px;
    color: #000000;
    font-size: 24px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
}

