* {
    padding: 0;
    margin: 0;
}
body {
    height: 300px;
    width: 100vw;
    background-color: black;
    display: flex;
    align-items: center;
    font: 50vh;
    flex-direction: row;

}
.primeiro {
    background-color: aliceblue;
    box-sizing: border-box;
    height: 50vh;

}
.imagem {
    height: 50vh;
}
.segundo {
    background-color: blue;
    box-sizing: border-box;
    height: 50vh;

}