* {
    padding: 0;
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
html {
    background-color: black;
}
.titulo-blog {
    color:aqua;
    padding-right: 0px;
    border: 1px solid red;
}
.texto-destaque {
    color:rgb(255, 255, 255);
}